In [1]:
from ipywidgets import HTML
from ipyleaflet import Map,Marker,AwesomeIcon,Popup,AntPath,LayerGroup,\
                       FullScreenControl,LayersControl,ScaleControl,MeasureControl
import pandas as pd
import numpy as np

## 读取数据

In [2]:
cdf = pd.read_csv('./social_most_checkins.csv',parse_dates=['created_at'])

In [3]:
cdf

,user_id,venue_id,created_at,latitude_venue,longitude_venue,latitude_home,longitude_home
0,48,5222,2012-01-31 04:01:42,37.62,-122.40,37.44,-122.20
1,61,1619,2012-01-28 06:45:05,26.16,-80.10,40.72,-74.00
2,101,52313,2011-12-09 04:21:35,37.78,-122.44,37.78,-122.44
3,101,52313,2011-12-09 04:21:35,37.78,-122.44,37.78,-122.44
4,485,183188,2011-12-26 07:41:41,50.06,8.57,37.78,-122.44
5,485,5222,2011-12-26 21:26:02,37.62,-122.40,37.78,-122.44
6,485,7620,2012-01-23 21:43:23,33.94,-118.40,37.78,-122.44
7,485,2966,2012-03-16 19:38:31,30.27,-97.75,37.78,-122.44
8,485,182463,2012-03-17 14:27:02,30.27,-97.75,37.78,-122.44
9,485,182463,2012-03-18 16:14:32,30.27,-97.75,37.78,-122.44
10,485,4202,2012-03-18 18:40:34,30.20,-97.70,37.78,-122.44
11,485,60,2012-03-18 23:02:30,36.10,-115.10,37.78,-122.44
12,485,44209,2012-03-18 23:20:49,36.10,-115.20,37.78,-122.44
13,485,17624,2012-03-19 08:08:19,36.12,-115.20,37.78,-122.44
14,485,319221,2012-03-20 07:43:13,36.10,-115.20,37.78,-122.44
15,485,38137,2012-03-20 09:09:35,36.10,-115.20,37.78,-122.44
16,1396,886310,2012-01-30 14:47:17,39.30,-84.50,39.12,-84.50
17,1396,259661,2012-04-02 15:25:32,32.78,-96.80,39.12,-84.50
18,1396,9310,2012-04-04 15:47:03,32.90,-97.06,39.12,-84.50
19,1897,817213,2011-12-09 14:37:42,41.88,-87.60,41.88,-87.60
20,1897,163578,2011-12-26 17:44:53,41.88,-87.60,41.88,-87.60
21,1977,180210,2011-12-23 21:33:45,37.78,-122.44,37.50,-122.25
22,1977,5222,2012-01-30 01:22:41,37.62,-122.40,37.50,-122.25
23,1977,7620,2012-01-30 04:01:55,33.94,-118.40,37.50,-122.25
24,1977,5222,2012-03-17 04:33:18,37.62,-122.40,37.50,-122.25
25,1977,5222,2012-04-17 13:47:39,37.62,-122.40,37.50,-122.25
26,3561,5222,2011-12-12 21:10:16,37.62,-122.40,38.22,-122.60
27,3561,153289,2011-12-27 11:06:20,38.22,-122.60,38.22,-122.60
28,5216,318048,2011-12-25 20:26:52,42.22,-83.40,0.00,0.00
29,5216,60,2011-12-26 01:07:34,36.10,-115.10,0.00,0.00
30,5216,7620,2011-12-26 03:01:08,33.94,-118.40,0.00,0.00

In [4]:
icon_start = AwesomeIcon(
    name='flag',
    marker_color='red',
    icon_color='black',
    spin=False
)

icon_end = AwesomeIcon(
    name='flag',
    marker_color='green',
    icon_color='black',
    spin=False
)

In [5]:
center = (0,0)
m = Map(center=center, zoom=1.5)

In [6]:
m.add_control(FullScreenControl())
control = LayersControl(position='topright')
m.add_control(control)
m.add_control(ScaleControl(position='bottomleft',imperial=False))
measure = MeasureControl(
    position='bottomleft',
    active_color = 'orange',
    completed_color = 'red',
    primary_length_unit = 'kilometers',
    primary_area_unit = 'sqmiles'
)
m.add_control(measure)

In [7]:
for idx, value in cdf.groupby('user_id'):
    icon_list = []
    icon_location = []
    icon_dict = {}
    icon_num_dict = {}
    i = 0
    j = 0
    for v in value.venue_id:
        
        if i==0:
            marker = Marker(draggable=False)
            marker.icon = icon_start
            icon_list.append(marker)

        if v not in icon_dict.keys():
            if i!=0:
                marker = Marker(draggable=False)
                icon_list.append(marker)
            icon_dict[v] = str(value.iloc[i,2])
            icon_num_dict[v] = j
            j+=1
            icon_location.append(list(value.iloc[i,3:5].values))

        else:
            icon_dict[v] = icon_dict[v] + '<br>' + str(value.iloc[i,2])
        
        if j==len(np.unique(value.venue_id)):
            icon = icon_list[icon_num_dict[v]]
            icon.icon = icon_end
            icon_list[icon_num_dict[v]] = icon
        
        i+=1
    
    popup = [info for _,info in icon_dict.items()]
    user = ['id:' + str(idx)+' '+ '<br>' + 'venue:' + str(i) for i in range(len(icon_dict))]
    
    i = 0
    new_icon_list = []
    for icon in icon_list:
        
        icon.location = icon_location[i]
        
        message=HTML()
        message.value = popup[i]
        message.placeholder = user[i]
        message.description = user[i]
        icon.popup = message
        
        new_icon_list.append(icon)
        i = i + 1
    
    ant_path = AntPath(dash_array=[1, 10],delay=1000)
    ant_path.locations = icon_location
    new_icon_list.append(ant_path)
    
    layer_group = LayerGroup(layers=new_icon_list, name='id-'+str(idx))
    m.add_layer(layer_group)

In [8]:
m

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…